body{ 
  background:rgb(225,225,225);
  font-family:inconsolata;
  font-size:30px;
 }
#annex{ 
   height:300px;
   left:640px;
   padding-left:20px;
   position:absolute;
   top:40px;
   width:400px;
 }
#numbers{ 
  border-top:2px solid rgb(25,25,25);
  left:40px;
  margin:20px 40px 0px 0px;
  padding-top:20px;
  position:absolute;
  top:380px;
  width:1000px;
 }
#panel{ 
   border-right:2px solid rgb(25,25,25);
   height:340px;
   left:40px;
   padding-right:20px;
   position:absolute;
   top:40px;
   width:560px;
 }
.fade{ 
  color:rgb(125,125,125);
 }
.number_box{ 
  background:rgb(25,25,25);
  color:rgb(245,245,245);
  float:left;
  font-size:20px;
  margin-right:10px;
  padding:10px;
 }
.number_box_fade{ 
  background:rgb(125,125,125);
  color:rgb(245,245,245);
  float:left;
  font-size:20px;
  margin-right:10px;
  padding:10px;
 }
/*
#layers{ 
  float:left;
  width:300px;
 }
#viewer{ 
  float:left;
  width:300px;
 } */